# Solar PV Short-Term Forecasting - Data Loading

This notebook loads and inspects the solar plant generation and weather sensor data.

In [2]:
import pandas as pd

In [8]:
# Load Plant 1 Generation Data with datetime parsing
generation_df = pd.read_csv('data/Plant_1_Generation_Data.csv')

# Load Plant 1 Weather Sensor Data with datetime parsing
weather_df = pd.read_csv('data/Plant_2_Weather_Sensor_Data.csv')

In [10]:
generation_df.head()

,DATE_TIME,PLANT_ID,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,15-05-2020 00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0
1,15-05-2020 00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0
2,15-05-2020 00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0
3,15-05-2020 00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0
4,15-05-2020 00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0

## Plant 1 Generation Data

In [9]:
# Display column names and data types
print("Column Names and Data Types:")
print(generation_df.dtypes)

Column Names and Data Types:
DATE_TIME       object
PLANT_ID         int64
SOURCE_KEY      object
DC_POWER       float64
AC_POWER       float64
DAILY_YIELD    float64
TOTAL_YIELD    float64
dtype: object

In [ ]:
# Display dataset shape
print("Dataset Shape:", generation_df.shape)

In [ ]:
# Display first 5 rows
generation_df.head()

## Plant 1 Weather Sensor Data

In [ ]:
# Display column names and data types
print("Column Names and Data Types:")
print(weather_df.dtypes)

In [ ]:
# Display dataset shape
print("Dataset Shape:", weather_df.shape)

In [ ]:
# Display first 5 rows
weather_df.head()